.controlContainer {
  width: 100%;
  background-color: transparent;
  height: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.topContainer :global {
  .ant-slider {
    height: 2px;
    padding: 1px;
  }
}
.progress {
  width: 100%;
  background-color: transparent;
  background: #ccc;
  background-size: 100% 100%;
}
.progress :global {
  .ant-slider-rail,
  .ant-slider-track,
  .ant-slider-step {
    height: 1px;
  }
  .ant-slider-track {
    width: 100%;
  }
  .ant-slider-handle {
    top: -4px;
  }
  .ant-slider-step {
    top: 0px;
  }
}
.bottomContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  font-size: 1rem;
  color: white;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playedTime {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rightContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightContainer :global {
  .ant-slider {
    height: 2px;
    padding: 1px;
  }
}
.volume {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background: #ccc;
  background-size: 100% 100%;
}
.volume :global {
  .ant-slider-rail,
  .ant-slider-track,
  .ant-slider-step {
    height: 1px;
  }
  .ant-slider-track {
    width: 100%;
  }
  .ant-slider-handle {
    top: -4px;
  }
  .ant-slider-step {
    top: 0px;
  }
}
