.loading {
  position: relative;
  isolation: isolate;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.first {
  background-color: #42ebf7;
  animation: circle 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.second {
  background-color: #fd2c55;
  animation: circleSecond 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle {
  0%,
  100% {
    transform: translateX(-10px) scale(1);
    z-index: 1;
  }
  25% {
    transform: translateX(8px) scale(0.75);
  }
  50% {
    transform: translateX(0px) scale(0.5);
  }
  75% {
    transform: translateX(-8px) scale(0.75);
  }
}

@keyframes circleSecond {
  0%,
  100% {
    transform: translateX(-10px) scale(0.5);
  }
  25% {
    transform: translateX(-8px) scale(0.75);
  }
  50% {
    transform: translateX(0px) scale(1);
    z-index: 1;
  }
  75% {
    transform: translateX(8px) scale(0.75);
  }
}
